* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

div {
    padding: 10px
}

.bg-red {
    background: red;
}

.bg-yellow {
    background: yellow;
}

.bg-green {
    background: limegreen;
}

.bg-blue {
    background: blue;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-gr {
    flex-grow: 1;
}

.root {
    width: 1000px;
    height: 1000px;

}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.top1 {
    min-width: 50%;
    min-height: 100%;
}

.bottom {

}

.bottom1 {
    width: 150px;
    height: 150px;

}

.h-50 {
    flex-grow: 1;
    flex-basis: 50%;
}

.align-self-flex-end {
    align-self: flex-end;
}

.justify-sp-bet {
    justify-content: space-between;
}

.justify-flex-end {
    justify-content: flex-end;

}
.bottom2{
 padding: 0;
}
